@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  background: rgba(196, 196, 196, 0.1);
  border: none;
  box-sizing: border-box;
  box-shadow: inset 69.1667px -69.1667px 69.1667px rgba(149, 149, 149, 0.1),
    inset -69.1667px 69.1667px 69.1667px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(138.333px);
  border-radius: 30px;
}
