@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  box-sizing: border-box;
  box-shadow: inset 69.1667px -69.1667px 69.1667px rgba(149, 149, 149, 0.1),
    inset -69.1667px 69.1667px 69.1667px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(138.333px);
  border-radius: 30px;
}

.events-card {
  box-shadow: -8px 12px 18px #8ff2ff;
  border-radius: 30px;
  backdrop-filter: none;
}

.events-card:hover {
  background: radial-gradient(
    69.3% 50% at 50% 50%,
    rgba(0, 0, 0, 0.19) 45.31%,
    rgba(143, 242, 255, 0.19) 100%
  );
  box-shadow: inset 69.1667px -69.1667px 69.1667px rgba(149, 149, 149, 0.1),
    inset -69.1667px 69.1667px 69.1667px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(138.333px);
  border-radius: 30px;
}

p {
  @apply text-lg md:text-base lg:text-lg;
}

h2 {
  @apply text-4xl md:text-2xl lg:text-4xl font-bold;
}
